body {
  background-image: url(../pics/sistine.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
}

#header {
  height: 12%;
  background-color: whitesmoke;
  font-family: 'Great Vibes', cursive;
  font-size: 45px;
  text-align: center;
}

#header_lane {
  background-color: whitesmoke;
  border: black;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  width: 100px;
  height: 10%;
}

#my_hand {
  float: left;
  position: relative;
  left: 420px;
  height: 150px;
}

#c_hand {
  position: relative;
  height: 150px;
  left: 420px;
}

#winmsg {
  display: block;
}

.btn {
  background-color: whitesmoke;
  border: black;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  width: 100px;
}

#stats {
  position: absolute;
  top: 68%;
  left: 18%;
  background-color: whitesmoke;
  border: black;
  text-align: left;
  font-family: 'Grand Hotel', cursive;
  font-size: 30px;
  width: 300px;
  height: 239px;
  padding: 20px;
  
}